<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research and Development</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>
    <header class="header-section">
        <div class="logo">
            <img src="bank-icon.jpg" alt="Bank Icon">
            <div class="bank-info">
                <h1>Research and Development</h1>
                <h2>Everything is theoretically impossible</h2>
            </div>
        </div>
        <nav class="navigation-menu">
            <ul>
                <li><a href="/procurement"><h3>Procurement</h3></a></li>
                <li><a href="/manufacturing"><h3>Manufacturing</h3></a></li>
                <li><a href="/inventory"><h3>Inventory</h3></a></li>
                <li><a href="/order"><h3>Order</h3></a></li>
            </ul>
        </nav>

        <div class="buttons-container">
            <a href="/login"><span>Login</span></a>&nbsp;/&nbsp;<a href="/signup"><span>Signup</span></a>
        </div>
    </header>
    <div class="pom">
        <section class="home-section">
            <img src="https://t4.ftcdn.net/jpg/01/27/79/81/360_F_127798119_uBtfKpHtT6cHsZ6OWo8envOz0m4eiXFS.jpg" alt="Home Image">
        </section>
    </div>
</body>
</html>
